html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto Mono';
    width: 80%;
    padding: 0 10%;
    margin: 0;
    @media screen and (max-width:992px){
        width: calc(100% - 30px);
        padding: 0 15px;
    }
}
h1{
    font-family: 'Impact', sans-serif;
    font-size: 80px;
    font-weight: normal;
    text-transform: uppercase;
    @media screen and (max-width:992px){
        font-size: 56px;
    }
}
h2, h3{
    font-family: 'Impact', sans-serif;
    font-size: 48px;
    font-weight: normal;
    @media screen and (max-width:992px){
        font-size: 40px;
    }
}
p{
    font-size: 20px;
    line-height: auto;
    margin: 0;
    @media screen and (max-width:992px){
        font-size: 16px;
    }
}
ul li a{
    text-decoration: none;
    color: black;
}
$green: #9ACD48;
$blue: #00C2F6;

header{
    position: relative;
    z-index: 9;
    padding: 48px 0;
    @media screen and (max-width:576px){
        padding-bottom: 16px;
    }
    a{
        display: inline-block;
    }
    ul{
        margin: 32px 0 0;
        padding: 0;
        vertical-align: middle;
        float: right;
        @media screen and (max-width:576px){
            display: flex;
            justify-content: space-between;
            float: unset;
            width: 100%;
            margin: 40px 0 0;
        }
        li{
            list-style: none;
            display: inline-block;
            position: relative;
            margin-left: 80px;
            @media screen and (max-width:576px){
                margin-left: 0;
            }
            &.active::before{
                content: url(assets/img/active-eyes-cut.png);
                position: absolute;
                top: -24px;
                left: 50%;
                transform: translateX(-50%);
            }
            a{
                font-size: 20px;
                @media screen and (max-width:576px){
                    font-size: 14px;
                }
            }
        }
    }
}
.hero{
    position: relative;
    height: 100vh;
    @media screen and (max-width:992px){
        height: 80vh;
    }
    @media screen and (max-width:576px){
        height: unset;
    }
    p{
        display: block;
        width: 50%;
        padding: 48px 0 0 64px;
        @media screen and (max-width:992px){
            margin-left: 20%;
            width: 80%;
            padding: 0;
        }
        @media screen and (max-width:576px){
            width: 100%;
            margin-left: 0;
        }
    }
    img{
        position: absolute;
        top: 32px;
        right: 0;
        width: 548px;
        height: auto;
        @media screen and (max-width:992px){
            position: relative;
            top: unset;
            display: block;
            width: 300px;
            margin-left: 20%;
        }
        @media screen and (max-width:576px){
            width: 100%;
            margin: 0;
        }
    }
}
.quote{
    position: relative;
    display: block;
    width: fit-content;
    margin: 0 auto;
    @media screen and (max-width:992px){
        margin-bottom: 160px;
    }
    @media screen and (max-width:576px){
        margin: 48px auto;
    }
    svg{
        position: absolute;
        @media screen and (max-width:576px){
            height: 8px;
            width: auto;
        }
        &:first-of-type{
            left: 4px;
            top: -48px;
            @media screen and (max-width:576px){
                top: -16px;
            }
        }
        &:last-of-type{
            right: 4px;
            bottom: -48px;
            @media screen and (max-width:576px){
                bottom: -16px;
            }
        }
    }  
    h2{
        font-size: 64px;
        color: $green;
        text-transform: uppercase;
        text-align: center;
        @media screen and (max-width:992px){
            font-size: 48px;
        }
        @media screen and (max-width:576px){
            font-size: 20px;
        }
    }
}
.exhibition{
    background: $blue;
    margin: 160px -9.9vw;
    padding: 96px;
    @media screen and (max-width:992px){
        margin: 80px -15px;
        padding: 0;
    }
    .swiper {
        width: 100%;
        height: 50vw;
        padding-top: 50px;
        padding-bottom: 50px;
        overflow: hidden;
        @media screen and (max-width:576px){
            height: 500px;
        }
        .swiper-button-prev::after, .swiper-button-next::after{
            color: white;
        }
        .swiper-slide{
            border-radius: 16px;
            width: 40%;
            background-size: cover;
            background-position: center;
            @media screen and (max-width:576px){
                width: calc(100% - 30px);
            }
            .swiper__content{
                box-sizing: border-box;
                height: 100%;
                padding: 24px;
                display: flex;
                justify-content: end;
                flex-direction: column;
                background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(255,255,255,0) 100%);
                border-radius: 16px;              
                h3, p{
                    color: white;
                    margin: 0;
                }                
            }
        }
    }
}
.container{
    width: 80%;
    margin: 0 10%;
    @media screen and (max-width:992px){
        width: calc(100% - 30px);
        margin: 0 15px;
    }
    .work__hero{
        text-align: center;
        margin-bottom: 256px;
        @media screen and (max-width:992px){
            width: 80%;
            margin: 0 10% 128px;
        }
    }
    .work__section{
        text-align: center;
        margin-bottom: 160px;
        img{
            display: block;
            margin: 56px auto;
            @media screen and (max-width:992px){
                width: 100%;
                height: auto;
            }
        }
    }
    .impression{
        margin-bottom: 160px;
        img{
            border-radius: 32px;
            margin: 32px 0;
            @media screen and (max-width:992px){
                width: 100%;
                height: auto;
                border-radius: 16px;
            }
        }
        @media screen and (min-width:992px){
            &:nth-child(odd){
                text-align: right;
                img{
                    margin-left: auto;
                }
            }            
        }
    }
}
.artist__hero{
    height: 100vh;
    background-image: url(assets/img/brian-donnelly.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @media screen and (max-width:992px){
        height: 55vh;
    }
}
.artist__container{
    width: 90%;
    margin: 100vh 5% 128px;
    @media screen and (max-width:992px){
        width: 100%;
        margin: 45vh 0 80px;
    }
    p{
        text-align: justify;
    }
}
footer{
    ul{
        display: flex;
        margin: 0 auto;
        padding: 0;
        width: 40%;
        justify-content: space-between;
        @media screen and (max-width:992px){
            width: 70%;
        }
        @media screen and (max-width:576px){
            width: 100%;
        }
        li{
            position: relative;
            list-style: none;
            &.active::before{
                content: url(assets/img/active-eyes.png);
                position: absolute;
                top: -24px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    svg{
        cursor: pointer;
        display: block;
        width: 128px;
        height: auto;
        margin: 104px auto 96px;
        @media screen and (max-width:992px){
            width: 64px;
            margin: 64px auto 80px;
        }
    }
}